{% load static %}
<!-- Footer -->
<footer class="text-center text-lg-start text-white" style="background-color: #212529">
<!-- Grid container -->
<div class="container p-4 pb-0">
    <!-- Section: Links -->
    <section class="">
    <!--Grid row-->
    <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <a class="navbar-brand" href="/"><img src="/static/images/dqote/dqote-logo.png" alt="dQote Logo"  width="210" height="57"></a>
        <p>Share Inspirational and famous quotes by authors you know and love. Share Quotes of the Day on the Pintrest, Facebook, Twitter and blogs.</p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Languages</h6>
        <div class="row">
        {% for id, name in localeList.items %}
            <div class="col-4"><a class="btn btn-outline-light btn-sm mt-2 ms-2 me-2" href="/{{name.0}}">{{name.1}}</a></div>
        {% endfor %}
        </div>
        </div>
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Authors</h6>
        <p><a class="text-white" href="/marathi" >Marathi</a></p>
        </div>
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Categories</h6>
        <p><a class="text-white" href="/marathi" >Motivation</a></p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

        <!-- pinterest -->
        <div class="fa fa-pinterest btn m-1" style="background-color: #dd4b39"></div>
        <!-- Facebook -->
        <div class="fa fa-facebook btn m-1" style="background-color: #3b5998"></div>
        <!-- Twitter -->
        <div class="fa fa-twitter btn m-1" style="background-color: #55acee"></div>
        <!-- Instagram -->
        <div class="fa fa-instagram btn m-1" style="background-color: #dd4b39"></div>
        <!-- Linkedin -->
        <div class="fa fa-linkedin btn m-1" style="background-color: #0082ca"></div>
        <div class="fa fa-telegram btn m-1" style="background-color: #0082ca"></div>

    </div>
    <!--Grid row-->
    </section>
    <!-- Section: Links -->
</div>
<!-- Grid container -->
        
<!-- Copyright -->
<div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2)">© 2021 Copyright: <a class="text-white" href="https://dqote.com/">dQote.com</a></div>
<!-- Copyright -->
</footer>
<!-- Footer -->
<link href="https://cdn.jsdelivr.net/npm/shareon/dist/shareon.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/shareon/dist/shareon.min.js"></script>
<script src="{% static './js/script.js' %}"></script>