{% extends 'base/base.html' %}
{% block seo %}
{% include './comp/seo.html' %}
{% endblock %}
{% load static %}
{% block body %}
  <div class="container mt-5 mb-5">
    <p class="h1">About Us</p>
    <hr/>
    <p>Welcome to dQote.com. I am Iffat Zia Khan, I have done my MSc in Zoology.</p>
    <p>Through this website, you can find the latest Educational, Motivational Quotes. We educate and entertain audiences of all ages with family-friendly quotations from history's most prominent figures through to today's newsmakers - famous celebrities, athletes, politicians, authors, and everything in between. We are passionate about quotes, and on a mission to share our knowledge with the world.</p>
    <p>You see, the way you think and feel about yourself, including your beliefs and expectations about what is possible for you, determines everything that happens to you.</p>
    <p>When you change the quality of your thinking, you change the quality of your life, sometimes instantly. Just as positive words can make someone smile or a well-timed humorous quote can make someone laugh, our thoughts react to the world in real-time.</p>
    <p>You have complete control over only one thing in the universe — your thinking – and that’s where motivational quotes come in!</p>
    <p>Stay updated with dQote on Pinterest, Facebook, Instagram. You can use image and quotes from my site to your website/blog.</p>
    <p>To connect or any suggestion, feedback use dQote.com/<a href="/contact/">contact</a></p>
  </div>
  
{% include './comp/pin-card.html' %}
{% endblock %}
