{% extends 'base/base.html' %}
{% block seo %}
{% include './comp/seo.html' %}
{% endblock %}
{% load static %}
{% block body %}
  <div class="container mt-5 mb-5">
    <p class="h1">Contact Us</p>
    <hr/>
    <p>Get In Touch</p>
    <p>Contact us using this email Id for queries, feedback, suggestion, any information or in the case of any complaint.
        We will get back to you as soon as possible.</p>
    <label>bestrani.e@hotmail.com</label>
  </div>
  
{% include './comp/pin-card.html' %}
{% endblock %}
